@model LibraryAspNetCore.ViewModels.AddBookInLibraryViewModel
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBookInLibrary" asp-controller="Library" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.LibraryId" asp-for="LibraryId">
            <div class="form-group">
                <label asp-for="LibraryName" class="control-label">Добавление книг для " @Model.LibraryName "</label>
                <input type="hidden" asp-for="LibraryName" value="@Model.LibraryName">
            </div>
            <div class="form-group">
                <label class="control-label">Выберете книгу</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.Books"><option selected>Выберете Книгу</option></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQuantity" class="control-label">Выберете колличество</label>
                <input asp-for="TotalQuantity" type="number" />
                <span asp-validation-for="TotalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>  