@model LibraryAspNetCore.Models.Subject
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Изменить @Model.Name</h3>
<form asp-action="EditSubject" asp-route="Create" method="post">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.Id" asp-for="Id" />
        <label asp-for="Name">Введите название Жанра</label>
        <input asp-for="Name" type="text" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="submit" value="Обновить" />
    </div>
</form>
