
@{
    ViewData["Title"] = "Index";
}

<h2>Выберете действие</h2>
<center>
    <a asp-action="AddBook" asp-controller="Create"><div style="width:500px;" class="btn btn-default" > Создать Книгу</div></a><br />
    <a asp-action="AddLibrary" asp-controller="Create"><div style="width:500px;"class="btn btn-default" > Создать Библиотеку</div></a><br />
    <a asp-action="Author" asp-controller="Create"><div style="width:500px;"class=" btn btn-default" > Управление Авторами</div></a><br />
    <a asp-action="PublihingHouse" asp-controller="Create"><div style="width:500px;" class="btn btn-default"> Управление Изданиями</div></a><br />
    <a asp-action="Subject" asp-controller="Create"><div style="width:500px;" class="btn btn-default"> Управление Жанрами</div></a><br />
</center>

