
@{
    ViewData["Title"] = "Index";
}

<h2>Выберете действие</h2>
<center>
    <a asp-action="AddBook" asp-controller="Create"><div class="btn btn-default" > Создать Книгу</div></a>
    <a asp-action="AddLibrary" asp-controller="Create"><div class="btn btn-default" > Создать Библиотеку</div></a>
</center>

