@model IEnumerable<LibraryAspNetCore.Models.Cart>
@if (Model.Any())
{
    <h3>Ваша корзина в @ViewBag.Library</h3>
    <form asp-action="Index" asp-controller="Cart" method="post">
        <h3>Выберете когда вы заберёте книги:</h3>
        <input type="datetime-local" />
        <input value="Заказать" class="btn btn-default" type="submit" />
    </form>
    <table class="table">
        <tr>
            <td>Название</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookInLibrary.Book.Name (@item.BookInLibrary.Book.Author.Name)</td>
                <td></td>
                <td>
                    <a asp-controller="Cart" asp-action="RemoveBookInCart" asp-route-id="@item.Id"><div class="btn btn-danger">Удалить</div></a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>Ваша корзина ещё пуста</h3>
}